In [1]:
import numpy as np
from scipy import spatial
import pandas as pd
import time
import math
import random

In [2]:
df = pd.read_csv('ratings.txt',sep=' ',header=None,names=['userId','itemId','rating'])

In [5]:
df.tail()

       userId  itemId  rating
35492    1508      84     3.5
35493    1508      17     4.0
35494    1508     669     1.0
35495    1508     686     2.5
35496    1508     806     3.5

In [6]:
df.describe()

             userId        itemId        rating
count  35497.000000  35497.000000  35497.000000
mean     744.247824    265.524946      3.002803
std      433.199457    346.854769      0.918692
min        1.000000      1.000000      0.500000
25%      356.000000     12.000000      2.500000
50%      735.000000    216.000000      3.000000
75%     1130.000000    251.000000      4.000000
max     1508.000000   2071.000000      4.000000

In [5]:
no_users = max(df['userId'])+1
no_items = max(df['itemId'])+1

In [6]:
user_total = np.zeros(no_users)
count = np.zeros(no_users,dtype='int64')

In [7]:
###no of items every user rated###
for i,j in enumerate(df.itertuples(),1):
    k = int(j.userId)
    count[k]+= 1

In [8]:
df = df.sample(frac=1).reset_index(drop=True)

In [9]:
movie_indices = {}
item_rated_by_user = [set() for i in range(no_users) ]
for i, row in enumerate(df.itertuples(), 1):
    j = int(row.itemId)
    k = int(row.userId)
    item_rated_by_user[k].add(j)
    movie_indices[(k,j)]=row.Index

In [10]:
test_item_indices = []

t1=time.time()
for i in range(no_users):
    number_of_items_rated = count[i]
    rated_movies = item_rated_by_user[i]
    indces_to_be_removed = set(random.sample(list(range(len(rated_movies))), int(0.2*len(rated_movies))))
    
    removed_movies = [n for l,n in enumerate(rated_movies) if l in indces_to_be_removed]
    
    for x in removed_movies:
        index = movie_indices[(i,x)]
        test_item_indices.append(index)
        
print(time.time()-t1)

0.13807249069213867

In [11]:
train = df.drop(df.index[test_item_indices])
test = pd.concat([df, train]).drop_duplicates(keep=False)

###shuffling###
train = train.sample(frac=1).reset_index(drop=True)
test = test.sample(frac=1).reset_index(drop=True)

train.to_csv('train.csv', sep=',',header=True)
test.to_csv('test.csv', sep=',',header=True)