In [1]:
import pandas as pd

In [2]:
import numpy as np

In [7]:
tr=pd.read_csv('C:/Users/dibya/Downloads/bidyut sir project/dibya_RS/ratings.txt',sep=' ',header=None,names=['userId','itemId','rating'])

In [10]:
tr.head()

   userId  itemId  rating
0       1       1     2.0
1       1       2     4.0
2       1       3     3.5
3       1       4     3.0
4       1       5     4.0

In [11]:
tr.describe()

             userId        itemId        rating
count  35497.000000  35497.000000  35497.000000
mean     744.247824    265.524946      3.002803
std      433.199457    346.854769      0.918692
min        1.000000      1.000000      0.500000
25%      356.000000     12.000000      2.500000
50%      735.000000    216.000000      3.000000
75%     1130.000000    251.000000      4.000000
max     1508.000000   2071.000000      4.000000

In [12]:
no_users=max(tr['userId'])+1
no_items=max(tr['itemId'])+1

In [13]:
no_users

1509

In [14]:
user_total=np.zeros(no_users)
cnt=np.zeros(no_users,dtype='int64')

In [15]:
rating=tr

In [16]:
for i,j in enumerate(rating.itertuples(),1):
    k=int(j.userId)
    cnt[k]+=1

In [17]:
import math
holdout=[math.floor(0.1*i) for i in cnt]

In [18]:

n_holdout=np.array(holdout,dtype='int64')
abcd=holdout
n_train=[j-i for i,j in zip(abcd,cnt)]

In [23]:
hold_temp=pd.DataFrame()
tr_temp=pd.DataFrame()

In [24]:
max(cnt)

244

In [27]:
tr=tr.sample(frac=1).reset_index(drop=True)

In [28]:
inc_hold=np.zeros(no_users,dtype='int64')

In [31]:
dict2={}
rate2= [set() for i in range(no_users) ]
for i, row in enumerate(tr.itertuples(), 1):
    j=int(row.itemId)
    k=int(row.userId)
    rate2[k].add(j)
    dict2[(k,j)]=row.Index

In [35]:
import time
import random

In [36]:
indices=[]
t1=time.time()
for i in range(no_users):
    
    no_rated=cnt[i]
    rated_movies=rate2[i]
    inds = set(random.sample(list(range(len(rated_movies))), int(0.2*len(rated_movies))))
    
    removed_movies = [n for l,n in enumerate(rated_movies) if l in inds]
    
    for x in removed_movies:
        ind=dict2[(i,x)]
        indices.append(ind)
        
print(time.time()-t1)

0.06096816062927246

In [37]:
train=tr.drop(tr.index[indices])
test=pd.concat([tr, train]).drop_duplicates(keep=False)

In [38]:
train=train.sample(frac=1).reset_index(drop=True)
test=test.sample(frac=1).reset_index(drop=True)

In [39]:
train.to_csv('D:/train.csv', sep=',',header=True)
test.to_csv('D:/test.csv', sep=',',header=True)