In [1]:
import numpy as np
from scipy import spatial
import pandas as pd
import time
import math
import matplotlib.pyplot as plt
%matplotlib inline

In [31]:
window_items =  [256, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 257, 17, 205, 206, 207, 210, 211, 84, 212, 213, 214, 215, 216, 217, 219, 220, 121, 233, 234, 235, 236, 239, 241, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255] 
target_items = [113, 175, 184, 277, 326, 354, 381, 700, 724, 734, 853, 884, 934, 935, 989, 993, 1216, 1311, 1337, 1382, 1441, 1483, 1554, 1700, 1770, 1772, 1785, 1833, 1885, 1955, 1956, 1998, 2005]

In [32]:
train = pd.read_csv('ratings.txt',sep=' ',header=None,names=['userId','itemId','rating'])

In [33]:
train.describe()

             userId        itemId        rating
count  35497.000000  35497.000000  35497.000000
mean     744.247824    265.524946      3.002803
std      433.199457    346.854769      0.918692
min        1.000000      1.000000      0.500000
25%      356.000000     12.000000      2.500000
50%      735.000000    216.000000      3.000000
75%     1130.000000    251.000000      4.000000
max     1508.000000   2071.000000      4.000000

### Actual Average Rating of each item

In [34]:
calculated_Rating = {}
items = train['itemId'].unique()

#rating
R = train.groupby(['itemId'])['rating'].mean()
for i in items:
#     print (i)
    calculated_Rating[i] = R[i]
    
# print (calculated_Rating)

In [35]:
test = pd.DataFrame()
for t_i in target_items:
    temp_df = train[train['itemId'] == t_i]
    train =  train.drop(train[train['itemId'] == t_i].index)
    test = pd.concat([temp_df, test]).drop_duplicates(keep=False)

### testing code of divising test/target data
table = [['Heading1', 'Heading2'], [1 , 1],[1 , 2],[1 , 3],[1 , 4], [1,5],[2 , 1],[2 , 2],[2 , 3],[2 , 4],[3, 1],[3, 2],[3, 3],[3, 4]]  
headers = table.pop(0)  
df = pd.DataFrame(table, columns=headers)

In [36]:
dfs = {n: g for n, g in test.groupby(test.groupby('itemId').cumcount() % 10)} 
test = pd.concat([dfs[0],dfs[1]], ignore_index=False)
train = pd.concat([train,dfs[2],dfs[3],dfs[4],dfs[5]], ignore_index=False)
del_data = pd.concat([dfs[6],dfs[7],dfs[8],dfs[9]], ignore_index=False)

KeyError: 5

In [30]:
train.shape[0]

35451

In [19]:
test.shape[0] + train.shape[0] + del_data.shape[0]

35497

In [20]:
test.tail(5)

       userId  itemId  rating
33607    1439       2     3.0
34026    1455       2     2.0
34499    1468       2     3.0
34934    1486       2     4.0
35399    1503       2     3.5

In [21]:
train.tail(5)

       userId  itemId  rating
33486    1433       2     4.0
33774    1446       2     3.5
34200    1460       2     3.0
34642    1475       2     2.5
35098    1495       2     3.0

In [22]:
del_data.tail(5)

       userId  itemId  rating
33540    1437       2     3.0
33958    1453       2     3.5
34403    1465       2     3.5
34879    1483       2     3.0
35344    1501       2     3.5

### Finding error for target items in actual data

In [23]:
target_item_error_in_actual_data = dict((t_i,[0,0]) for t_i in target_items)
print (target_item_error_in_actual_data)

{2: [0, 0], 3: [0, 0], 4: [0, 0], 5: [0, 0], 7: [0, 0], 8: [0, 0], 9: [0, 0], 11: [0, 0], 13: [0, 0], 17: [0, 0], 211: [0, 0], 215: [0, 0], 219: [0, 0], 236: [0, 0], 250: [0, 0]}

In [97]:
t1=time.time()
for index,i in enumerate(test.itertuples(),1):
    k_optimal = 25

    predicted=0
    usr=int(i.userId)
    mov=int(i.itemId)
    actual=i.rating
        
    all_ratings_for_the_active_item=train[train['itemId']==mov]
    list_of_movies_current_user_has_rated=train[train['itemId']==usr]
    similarity=[]
    corres_rate=[]
    
    for ind2,u in enumerate(list_of_movies_current_user_has_rated.itertuples(),1): 
        c1=[]
        c2=[]
        #c_user=int(u['userId'])
        c_item=int(u.itemId)
        #list_curuser=train[train['userId']==c_user]
        list_curitem=train[train['itemId']==c_item]
        xt=pd.merge( all_ratings_for_the_active_item,list_curitem,how='inner',on=['userId'])
        c1=xt['rating_x']
        c2=xt['rating_y']
        c1_list=c1.tolist()
        c2_list=c2.tolist()
        sim=0
        if len(c1_list)!=0:
            sim=(1-spatial.distance.cosine(c1_list,c2_list))
        
        similarity.append(sim)
        corres_rate.append(u.rating)
        
    corres_rate = [x for _,x in sorted(zip(similarity,corres_rate),reverse=True)]
    similarity.sort(reverse=True)
#     print (mov)
#     print (similarity)
#     print (corres_rate)
    cs=0
    numc=0
    
    if(len(similarity)<k_optimal):
        k_optimal = len(similarity) 
        
    for k in range(k_optimal+1):        
#         print (k)
        cs+=similarity[k-1]
        numc+=(similarity[k-1]*corres_rate[k-1])
       
    if cs!=0:
        predicted=numc/cs
    else:
        predicted = 0
    
    if mov in target_item_error_in_actual_data:
        target_item_error_in_actual_data[mov][0] = target_item_error_in_actual_data[mov][0] + abs(predicted - calculated_Rating[mov])
        target_item_error_in_actual_data[mov][1] = target_item_error_in_actual_data[mov][1] +1
t2=time.time()

In [101]:
index

2252

In [98]:
print (t2-t1)

495.15591287612915

In [99]:
target_item_error_in_actual_data

{2: [341.26468097260835, 368],
 3: [251.76303971819536, 292],
 4: [272.0234688028327, 264],
 5: [275.83395725222556, 280],
 7: [336.3284724563561, 420],
 8: [286.82349383594266, 276],
 9: [243.684143926249, 252],
 11: [406.88905997253426, 374],
 13: [334.9086424263466, 324],
 17: [303.08066221477486, 328],
 211: [231.00185886524886, 244],
 215: [342.9342351389148, 306],
 219: [321.84800806293475, 276],
 236: [247.61945550286825, 296],
 250: [212.6410034410036, 204]}

### MAE error

In [103]:
for i in target_item_error_in_actual_data:
    print (i,'    :',target_item_error_in_actual_data[i][0]/target_item_error_in_actual_data[i][1])

2     : 0.927349676556001
3     : 0.8622021908157376
4     : 1.0303919272834572
5     : 0.9851212759008056
7     : 0.8007820772770383
8     : 1.0392155573766038
9     : 0.9670005711359086
11     : 1.0879386630281664
13     : 1.0336686494640328
17     : 0.9240264091913868
211     : 0.9467289297756101
215     : 1.1207001148330549
219     : 1.1661159712425173
236     : 0.836552214536717
250     : 1.0423578600049195

## Nuke Attack Strength Check

### Injecting Attack Profiles

In [106]:
nuke_rating = 0.5

In [107]:
attack_ids = list(range(1600,1700))

for attacker in attack_ids:
    for item in window_items:
        a = calculated_Rating[item]
        attack_rating = int(a) if (a-int(a)<0.5) else int(a)+1
        train = train.append(pd.Series([attacker,item,attack_rating], index=['userId', 'itemId' ,'rating']), ignore_index=True)

for attacker in attack_ids:
    for item in target_items:
        train = train.append(pd.Series([attacker,item,nuke_rating], index=['userId', 'itemId' ,'rating']), ignore_index=True)

In [109]:
train.shape[0]

33784

In [110]:
train.tail(5)

       userId  itemId  rating
33779  1699.0   211.0     0.5
33780  1699.0   215.0     0.5
33781  1699.0   219.0     0.5
33782  1699.0   236.0     0.5
33783  1699.0   250.0     0.5

## Finding error for target items in attack profile injected data

In [111]:
target_item_error_in_actual_data = dict((t_i,[0,0]) for t_i in target_items)
print (target_item_error_in_actual_data)

{2: [0, 0], 3: [0, 0], 4: [0, 0], 5: [0, 0], 7: [0, 0], 8: [0, 0], 9: [0, 0], 11: [0, 0], 13: [0, 0], 17: [0, 0], 211: [0, 0], 215: [0, 0], 219: [0, 0], 236: [0, 0], 250: [0, 0]}

In [112]:
t1=time.time()
for index,i in enumerate(test.itertuples(),1):
    k_optimal = 25

    predicted=0
    usr=int(i.userId)
    mov=int(i.itemId)
    actual=i.rating
        
    all_ratings_for_the_active_item=train[train['itemId']==mov]
    list_of_movies_current_user_has_rated=train[train['itemId']==usr]
    similarity=[]
    corres_rate=[]
    
    for ind2,u in enumerate(list_of_movies_current_user_has_rated.itertuples(),1): 
        c1=[]
        c2=[]
        #c_user=int(u['userId'])
        c_item=int(u.itemId)
        #list_curuser=train[train['userId']==c_user]
        list_curitem=train[train['itemId']==c_item]
        xt=pd.merge( all_ratings_for_the_active_item,list_curitem,how='inner',on=['userId'])
        c1=xt['rating_x']
        c2=xt['rating_y']
        c1_list=c1.tolist()
        c2_list=c2.tolist()
        sim=0
        if len(c1_list)!=0:
            sim=(1-spatial.distance.cosine(c1_list,c2_list))
        
        similarity.append(sim)
        corres_rate.append(u.rating)
        
    corres_rate = [x for _,x in sorted(zip(similarity,corres_rate),reverse=True)]
    similarity.sort(reverse=True)
#     print (mov)
#     print (similarity)
#     print (corres_rate)
    cs=0
    numc=0
    
    if(len(similarity)<k_optimal):
        k_optimal = len(similarity) 
        
    for k in range(k_optimal+1):        
#         print (k)
        cs+=similarity[k-1]
        numc+=(similarity[k-1]*corres_rate[k-1])
       
    if cs!=0:
        predicted=numc/cs
    else:
        predicted = 0
    
    if mov in target_item_error_in_actual_data:
        target_item_error_in_actual_data[mov][0] = target_item_error_in_actual_data[mov][0] + abs(predicted - calculated_Rating[mov])
        target_item_error_in_actual_data[mov][1] = target_item_error_in_actual_data[mov][1] +1
t2=time.time()

In [113]:
print (t2-t1)

280.19020533561707

In [114]:
for i in target_item_error_in_actual_data:
    print (i,'    :',target_item_error_in_actual_data[i][0]/target_item_error_in_actual_data[i][1])

2     : 1.8720520497145203
3     : 1.7246550816995896
4     : 2.0849136195919757
5     : 1.9765576958849955
7     : 1.6165956269131352
8     : 2.1015742964279727
9     : 1.9356783150016217
11     : 2.1939304803323973
13     : 2.087439185200955
17     : 1.8668018831740352
211     : 1.8868789121827991
215     : 2.2622061867401353
219     : 2.3549312443714268
236     : 1.6942584168486754
250     : 2.1159100159100173